extends: default.liquid

title:   Rust book
date:    17/01/2017
path:    projects/rustbook/
---

<!-- Page-header -->
<div class="project-cover">
  <div class="project-header">
    <img class="thumbnail-project" src="../assets/rust_logo.png" alt="image"/>
    <h1>The Rust book</h1>
  </div>
</div>

<main>
  <!-- Project Navigation -->
    <div class="projecthead" style="text-align: center">
      <nav>
        <ul class="nav projecthead-nav">
          <li><a href="/projects/rust_book/index.html">Read</a></li>
          <li><a href="https://github.com/JeroenCops/LearningRust">Source</a></li>
        </ul>
      </nav>
    </div>

  <div class="text-wrapper center">
    <div class="intro center">
    <div class="page-tag">
      <div>Markdown</div>
    </div>
  </div>
  <div class="intro text-center center">
    I started writing this book, because I wanted to learn Rust and also help the community in some way. So I translated the Rust book to Dutch.
    The book is generated with mdbook.
  </div>
  <div class="intro text-center center">
  <h2>Cargo</h2>
  <div class="project-text-block">
    Cargo is a tool that Rustaceans use to help manage their Rust projects. Cargo manages three things: building our code,
    downloading the dependencies our code needs, and building those dependencies.
  </div>
  </div>
  <img class="project-img" src="../assets/image-project-test.jpg" alt="image"/>
  <div class="intro center">
  <h2>Crates.io</h2>
  <div class="project-text-block">
    Crates.io is the place were we publish our rust crates to.
    <img class="thumbnail-project" src="../assets/Cargo-Logo.png" alt="image"/>
  </div>
  <h2>Tools</h2>
  <div class="project-text-block">
    There are all sort of plugins avialable for different text editors.
  </div>
</div>
</div>
</main>
