<!-- Social Site Meta Properties -->
<meta property="og:title" content="Jeroen Cops">
<meta property="og:image" content="jeroencops.github.io/assets/jeroen_cops.png">
<meta property="og:site_name" content="Jeroen Cops">
<meta property="og:description" content="Jeroen Cops, a website for all my projects and more.">
<meta property="og:url" content="https://jeroencops.github.io/">
<meta property="og:type" content="website">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Jeroen Cops, a website for all my projects and more.">
<meta name="keywords" content="rust, jeroen, cops">
{% if is_post %}
  <title>Jeroen Cops | {{ title }}</title>
{% else %}
  <title>Jeroen Cops</title>
{% endif %}
<link rel="icon" type="image/png" href="/assets/jeroen_cops.png" />

<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified FontAwesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Font Family -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">
<!-- Load stylesheet -->
<link href="/css/main.css" rel="stylesheet" />

<!-- Latest compiled and minified jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://jeroencops.github.io/rss.xml" rel="alternate" type="application/rss+xml" title="Jeroen Cops">

<!-- Load background -->
<script src='/js/jquery.particleground.min.js'></script>
<script src='/js/jquery.background.js'></script>
<!-- load side navigation -->
<script src='/js/jquery.sidenav.js'></script>
<!-- Load page nav -->
<script src='/js/jquery.pagenav.js'></script>
