<!-- Footer -->
<footer class="mastfoot">
  <!-- Links -->
  <div class="footer-list">
      <a href="https://github.com/JeroenCops"><i class="fa fa-github" aria-hidden="true" style="font-size:28px;"></i></a>
      <a href="https://github.com/JeroenCops/JeroenCops.github.io/tree/source"><i class="fa fa-code" aria-hidden="true" style="font-size:28px;"></i></a>
      <a href="https://github.com/cobalt-org/cobalt.rs"><img class="cobalt-logo" aria-hidden="true" src="/assets/cobalt_logo.png"></a>
      <a href="/rss.xml"><i class="fa fa-rss" aria-hidden="true" style="font-size:28px;"></i></a>
  </div>
  <!-- Licenses -->
  <p class="license"><a href="/license/">This website is licensed under a MIT License and the website contents under CC BY-SA 4.0</a>
    <br />
  </p>
</footer>
