<!DOCTYPE html>
<html>
  <head>
    {{ include "_layouts/_head.liquid" }}
  </head>
  <body data-route={{route}}>
      <div id="particles"></div>
      {{ include "_layouts/_wrapper.liquid" }}

      {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
