extends: default.liquid
---

<!-- Header page -->
<header class="page-header">
  <h1>ERROR 404</h1>
</header>

<main>
  <article class="text-center">
    <p>The page you are looking for doesn't exist or could not be found.</p>
  </article>
</main>
