extends: default.liquid

title:   About
path:    about/
route:   about
---

<!-- Page Header -->
<header class="page-header">
  <h1>About</h1>
</header>

<main>
  <div class="text-wrapper center">
    <div class="intro center">
    <p>
      <h2>Me</h2>
      I'm someone who loves to discover how things work and try to improve them.
      When I discovered how software is made, it then let to an adventurous journey in modifying
      existing code and writing my own little programs.
      <hr>
    </p>

    <p>
      <h2>My education</h2>
      I'm currently studying Information Technologie at PXL University College.
      I'm learning tremendous amount about programming, writing clean and efficient code.
      It also helps me connect to people with the same interests and working together with
      those people on group projects.
      <hr>
    </p>

    <p>
      <h2>My knownledge</h2>
      Over the years, I learned several programming languages.
      I have experience with Functional programming and Object-oriented programming.
      The languages that I have worked with are:
    </p>
    <ul>
      <li>Java</li>
      <li>C#</li>
      <li>Haskell</li>
    </ul>
    <p>
      Currently, I'm still expanding my skill set with the Rust programming language, which I use for my personal projects.
      It helps me think more about what happens in memory and write better performant code.
      <hr>
    </p>
  </div>
  </div>
</main>
