extends: default.liquid

title: Home
route: home
---

<!-- Cover Index -->
<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Latest project</h1>
    <p class="lead">The Dutch translation of the Rust book.</p>
    <a href="/projects/rustbook"/><div class="button">View</div></a>
  </div>
</div>

<!-- Column links -->
<div class="col-background">
  <div class="col-container center">

    <!-- Column 1 -->
    <div class="col text-center">
      <i class="fa fa-refresh" aria-hidden="true" style="font-size:5em;"></i>
      <h2>Updates</h2>
      <p>
        Find all the recent changes for my projects here.
      </p>
      <a class="block-link" href="/articles#updates"/>
        <p>
          More<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </p>
      </a>
    </div>

    <!-- Column 2 -->
    <div class="col text-center">
      <i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:5em;"></i>
      <h2>Tutorials</h2>
      <p>
        Teach yourself and learn more about Rust.
      </p>
      <a class="block-link" href="/articles#tutorials"/>
        <p>
          More<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </p>
      </a>
    </div>

    <!-- Column 3 -->
    <div class="col text-center">
      <i class="fa fa-envelope-open-o" aria-hidden="true" style="font-size:5em;"></i>
      <h2>Posts</h2>
      <p>
        Read about all the challenges that I had to overcome.
      </p>
      <a class="block-link" href="/articles#posts"/>
        <p>
          More<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        </p>
      </a>
    </div>
  </div>
</div>
