extends: default.liquid

title:   Projects
path:    projects/
route:   projects
---
<!-- Page header -->
<header class="page-header">
  <h1>Projects</h1>
</header>

<main>
  <div class="text-wrapper width-1026 center">
    <!-- Project link 1 -->
    <div class="page-text-block clearfix" style="border: 1px solid #eee">
      <a href="./rustbook">
        <div class="thumbnail">
          <img src="/images/rust_project.png" alt="image"/>
        </div>
      </a>
      <h4 style="margin-top: 15px;">
        <a href="./rustbook">The Rust book</a>
      </h4>

      <p style="font-size: 12px; margin-bottom: 0.2em; color: #767676">Technologies used mdbook</p>
      <p>
        Rust is a systems programming language, that is focused on safety, speed, and concurrency.
        It achieves all these goals without having a garbage collector.
        It provides a number of compile-time safety checks that produce no runtime overhead, while eliminating all data races.
        This is the Dutch translation of the book. So have fun!
      </p>
    </div>
    <!-- Project link 2 -->
    <div class="page-text-block clearfix" style="border: 1px solid #eee">
      <a href="./website">
        <div class="thumbnail">
          <img src="/images/website_project.png" alt"image"/>
        </div>
      </a>
      <h4 style="margin-top: 15px;">
        <a href="./website">The Website</a>
      </h4>

      <p style="font-size: 12px; margin-bottom: 0.2em; color: #767676">Technologies used Cobalt, HTML5, CSS3, Javascript, Jquery</p>
      <p>
        This website is generated with Cobalt, a static website generator written in Rust.
        It uses liquid templates and markdown to generate HTML pages.
      </p>
    </div>
  </div>
</main>
