extends: default.liquid

title:   Website
path:    projects/website/
---

<!-- Project header -->
<div class="project-cover">
  <header class="project-header">
    <img class="thumbnail-project" src="/assets/jeroen_cops.png" alt="image"/>
    <h1>The website</h1>
  </header>
</div>

<main>
  <!-- Project links -->
  <header class="projecthead" style="text-align: center">
    <nav>
      <ul class="nav projecthead-nav">
        <li><a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a></li>
        <li><a href="https://github.com/JeroenCops/JeroenCops.github.io">Source</a></li>
      </ul>
    </nav>
  </header>

  <div class="text-wrapper width-1026 center" style="background-color: #fff; margin-top: 4em">
    <div class="text-block width-750 center">
      <div class="page-tag">Technologies used Cobalt, HTML5, CSS3, Javascript, Jquery</div>
    </div>
    <div class="text-block width-750 center" style="font-size:18px;">
      I created this website as a portfolio for all of my projects and a place were I can express myself about my passion for software and technologie.
    </div>
    <div class="text-block width-750 center">
      <h2 style="margin-top: 0">Cobalt</h2>
      <img class="project-img-50" src="/assets/cobalt_logo.png" alt="image"/>
      This website was generated with Cobalt, which is a static website generator similar to
      Jekyll. Cobalt is written in Rust, so it Cobalt can turn the Liquid templates, MarkDown files almost instantly into HTML.
      Because it's static makes it also easy to deploy anywhere, you don't have to mess with SQL and php, I just can focus on the content.
    </div>
    <div class="text-block width-750 center">
    <h2 style="margin-top: 0">Liquid</h2>
      Liquid is an open-source template language crated by Shopify.
    </div>
    <div class="text-block width-750 center">
    <h2 style="margin-top: 0">Github Pages</h2>
      GitHub Pages hosts the website directly from this repository. It's also free and very easy to use. Just push to the repo, you want your website hosted from.
    </div>
    <div class="text-block width-750 center">
      <h2 style="margin-top: 0">Changelog</h2>
      {% for post in posts %}
        {% if post.subcategory == "website" %}
            <h4>
              <span style="display:inline-block; width: 150px">{{post.date | date: "%e %b. %Y"}}</span>
              <a data-article=".{{ post.subcategory }} "href="/{{post.path}}">{{post.title}}</a>
            </h4>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
