extends: default.liquid

title:   Website
path:    projects/website/
route:   projects
---

<!-- Project header -->
<div class="project-cover">
  <header class="project-header">
    <img class="thumbnail-project" src="/assets/jeroen_cops.png" alt="image"/>
    <h1>The website</h1>
  </header>
</div>

<main>
  <!-- Project links -->
  <header class="projecthead" style="text-align: center">
    <nav>
      <ul class="nav projecthead-nav">
        <li><a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a></li>
        <li><a href="https://github.com/JeroenCops/JeroenCops.github.io">Source</a></li>
      </ul>
    </nav>
  </header>

  <div class="text-wrapper center">
    <div class="page-tag">
      <div>HTML5 | CSS3 | Javascript | Jquery | Liquid</div>
    </div>
    <div class="intro text-center center">
      I created this website as a portfolio for all of my projects and a place were I can express myself about my passion for software and technologie.
    </div>

    <h2>Cobalt</h2>
    <div class="project-text-block">
      <img class="thumbnail-project" src="/assets/cobalt_logo.png" alt="image"/>
      This website was generated with Cobalt, which is a static website generator similar to
      Jekyll. Cobalt is written in Rust, so it Cobalt can turn the Liquid templates, MarkDown files almost instantly into HTML.
      Because it's static makes it also easy to deploy anywhere, you don't have to mess with SQL and php, I just can focus on the content.
    </div>

    <h2>Liquid</h2>
    <div class="project-text-block">
      Liquid is an open-source template language crated by Shopify.
    </div>

    <h2>Github Pages</h2>
    <div class="project-text-block">
      Github Pages is were I host this site freely on.
    </div>

    <h2>Changes</h2>
    {% for post in posts %}
      <h4>
        <a href="/{{post.path}}">{{post.title}}</a>

      </h4>
    {% endfor %}
  </div>
</main>
